/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Feb 2020, 12:56:15
    Author     : joshw
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-image-crop {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

#account-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#account-image :hover {
    outline: 2px #333333;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}