/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Nov 2019, 12:48:27
    Author     : joshw
*/

body { 
    font-family: 'Arvo';
    background-color: /*#f4f4f4*/#ffffff;
}

h1 {
    font-size: 20px;
    text-decoration: none;
}

h2 {
    font-size: 16px;
    text-decoration: none;
}

h3 {
    font-size: 14px;
    text-decoration: none;
}

.comments {
    overflow-y: auto;
    overflow-x: hidden;
}

.top-prof {
    font-size: 12px;
}

.account {
    width: 280px;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
}

.image-cropper {
    display: inline-block;
    position: relative;
}

#pp {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-pic:hover {
    background-color: white;
    opacity: 0.3;
}

.login {
    margin: 25px;
}

#login-details {
    width: 400px;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 30px;
}

.login-box {
    width: 450px;
    height: 550px;
    padding: 10px;
    padding-top: 50px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
}

.signup-box {
    width: 450px;
    height: 610px;
    padding: 10px;
    padding-top: 10px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
}

.post-box {
    width: 500px;
    border: 1px solid #333333;
    margin: 50px;
}

.post-box :hover {
    background-color: #333333;
    color: #ffffff;
}

.caption {
    width: 600px;
    resize: none;
    border: none;
    padding: 10px;
    color: #333333;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
}

.post {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
}

.container {
    float:contour;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 500px;
    cursor: pointer;
}

.bio {
    resize: none;
}

#pp img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    
    
    border: 1px solid #ccc;
}

#pp {
    margin-left: auto;
    margin: 5px;
    display: inline-block;
}

.see-all {
    text-align: right;
}

.content {
    display: flex;
}

.post-image {
    width: 1000px;
    overflow: hidden;
}

.post-image img {
    margin-right: 0px;
    float: left;
    width: 100%;
    max-width: 600px;
}

.post-image .comments {
    /*margin-left: 0px;
    display: inline-block;*/
    width: 350px;
    height: 450px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 6px -2px #333333;
}

